<div class="create-dose">
 <div class="row justify-content-center">
    <div class="form col-md-6">
<h1><%= @cocktail.name %>:</h1>
      <h3>Add ingredient</h3>
     <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false, required: true %>
        <%= f.input :description,required: true %>
        <div class="add-dose"><%= f.button :submit, class: "btn btn-outline-success btn-md" %></div>
      <% end %>
    </div>
  </div>
</div>

